<h1>GAME OVER - <%= @winner %> wins!</h1>
<a href='/'><h3>click to play again</h3></a>
<center><img src="https://i.pinimg.com/originals/cd/49/24/cd492427f8f54cf33e6f7178bae95fac.jpg"></center>
<style>
  h1, h3{
    text-align: center;
  }
</style>
